body {
  background: black;
}
.header {
  text-align: center;
}
.header h1 {
  font-family: "overpass mono";
  color: #ca68f4;
  font-weight: 400;
  font-size: 70px;
}
.header h2 {
  font-family: "overpass mono";
  font-weight: 300;
  color: white;
  font-size: 20px;
}
.btn-light {
  font-family: "overpass mono";
  background-color: #ca68f4;
  color: white;
  border: none;
  padding: 10px 30px;
}
p {
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  color: white;
}

footer {
  color: white;
}
