body {
  background: black;
}

h1 {
  font-family: "overpass mono";
  color: #ca68f4;
  font-weight: 400;
  font-size: 70px;
  text-align: center;
}
h2 {
  font-family: "overpass mono";
  font-weight: 300;
  color: white;
  text-align: center;
  font-size: 30px;
}

p {
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  color: white;
}
