:root {
  --accent-color: #ca68f4;
  --heading-font: "overpass mono";
  --paragraph-font: "Overpass", sans-serif;
}

body {
  background: black;
}
.header {
  margin-top: 70px;
  margin-bottom: 40px;
  text-align: center;
}
.header h1 {
  font-family: var(--heading-font);
  color: var(--accent-color);
  font-weight: 400;
  font-size: 70px;
}
.header h2 {
  font-family: var(--heading-font);
  font-weight: 300;
  color: white;
  font-size: 20px;
}
.btn-light {
  font-family: var(--heading-font);
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 10px 30px;
  margin-bottom: 80px;
}
h2 {
  font-family: var(--heading-font);
  font-weight: 300;
  color: white;
  font-size: 20px;
}
h3 {
  font-family: var(--heading-font);
  color: var(--accent-color);
  font-weight: 400;
  font-size: 20px;
}

.header-content h1 {
  font-family: var(--heading-font);
  color: var(--accent-color);
  font-weight: 400;
  font-size: 45px;
}
.header-content h2 {
  padding-bottom: 40px;
  font-size: 16px;
}
.container {
  max-width: 1000px;
}
.portfolio-container {
  max-width: 1000px;
  margin: 0 auto;
}

p {
  font-family: var(--paragraph-font);
  font-weight: 300;
  color: white;
  font-size: 16px;
  line-height: 1.5;
  opacity: 75%;
}

.portfolio-container h2 {
  padding-top: 20px;
  font-size: 16px;
  text-align: center;
}

.portfolio-container p {
  text-align: center;
}
.external-links {
  font-family: var(--paragraph-font);
  background-color: white;
  color: black;
  border: none;
  padding: 5px 15px;
  font-size: 16px;
}

footer {
  color: white;
  text-align: center;
}

.header-content {
  padding-top: 85px;
}
img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

img:hover {
  filter: none;
  -webkit-transition: all 0.6s ease;
  -webkit-filter: grayscale(0);
}

@media (max-width: 770px) {
  .container {
    padding: 20px;
    text-align: center;
  }
  h2 {
    font-size: 16px;
  }
  p {
    font-size: 15px;
  }
  .external-links {
    font-size: 15px;
  }
  .header h1 {
    font-size: 40px;
  }
  .header h2 {
    font-size: 15px;
  }
  .btn-light {
    padding: 5px 10px;
    font-size: 15px;
    margin-bottom: 0;
  }
  .header-content h1 {
    font-size: 35px;
  }
  .header-content {
    margin-top: 35px;
    padding: 30px;
  }
  .portfolio-container {
    padding: 0px 60px 10px 60px;
  }
}
